/**
 * @file
 * Font Families.
 */

/*body*/
body.pff-01,
.pff-01 input,
.pff-01 select,
.pff-01 textarea,
.pff-01 blockquote {
  font-family: 'Merriweather', Georgia, Times New Roman, Serif;
}
body.pff-02,
.pff-02 input,
.pff-02 select,
.pff-02 textarea,
.pff-02 blockquote {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;
}
body.pff-03,
.pff-03 input,
.pff-03 select,
.pff-03 textarea,
.pff-03 blockquote {
  font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif;
}
body.pff-04,
.pff-04 input,
.pff-04 select,
.pff-04 textarea,
.pff-04 blockquote {
  font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-05,
.pff-05 input,
.pff-05 select,
.pff-05 textarea,
.pff-05 blockquote {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}
body.pff-06,
.pff-06 input,
.pff-06 select,
.pff-06 textarea,
.pff-06 blockquote {
  font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-07,
.pff-07 input,
.pff-07 select,
.pff-07 textarea,
.pff-07 blockquote {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
body.pff-08,
.pff-08 input,
.pff-08 select,
.pff-08 textarea,
.pff-08 blockquote {
  font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif;
}
body.pff-09,
.pff-09 input,
.pff-09 select,
.pff-09 textarea,
.pff-09 blockquote {
  font-family: 'Exo', Helvetica Neue, Arial, Sans-serif;
}
body.pff-10,
.pff-10 input,
.pff-10 select,
.pff-10 textarea,
.pff-10 blockquote {
  font-family: 'Roboto Slab', Trebuchet MS, Sans-serif;
}
body.pff-11,
.pff-11 input,
.pff-11 select,
.pff-11 textarea,
.pff-11 blockquote {
  font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif;
}
body.pff-12,
.pff-12 input,
.pff-12 select,
.pff-12 textarea,
.pff-12 blockquote {
  font-family: 'Josefin Sans', Georgia, Times New Roman, Serif;
}
body.pff-13,
.pff-13 input,
.pff-13 select,
.pff-13 textarea,
.pff-13 blockquote {
  font-family: Georgia, Times New Roman, Serif;
}
body.pff-14,
.pff-14 input,
.pff-14 select,
.pff-14 textarea,
.pff-14 blockquote {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
body.pff-15,
.pff-15 input,
.pff-15 select,
.pff-15 textarea,
.pff-15 blockquote {
  font-family: 'Philosopher', Georgia, Times New Roman, Serif;
}
body.pff-16,
.pff-16 input,
.pff-16 select,
.pff-16 textarea,
.pff-17 blockquote {
  font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif;
}
body.pff-17,
.pff-17 input,
.pff-17 select,
.pff-17 textarea,
.pff-18 blockquote {
  font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif;
}
body.pff-18,
.pff-18 input,
.pff-18 select,
.pff-18 textarea,
.pff-19 blockquote {
  font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif;
}
body.pff-19,
.pff-19 input,
.pff-19 select,
.pff-19 textarea,
.pff-20 blockquote {
  font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif;
}
body.pff-20,
.pff-20 input,
.pff-20 select,
.pff-20 textarea,
.pff-21 blockquote {
  font-family: Helvetica Neue, Arial, Sans-serif;
}
body.pff-21,
.pff-21 input,
.pff-21 select,
.pff-21 textarea,
.pff-22 blockquote {
  font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-22,
.pff-22 input,
.pff-22 select,
.pff-22 textarea,
.pff-23 blockquote {
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-23,
.pff-23 input,
.pff-23 select,
.pff-23 textarea,
.pff-24 blockquote {
  font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif;
}
body.pff-24,
.pff-24 input,
.pff-24 select,
.pff-24 textarea,
.pff-25 blockquote {
  font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif;
}
body.pff-25,
.pff-25 input,
.pff-25 select,
.pff-25 textarea,
.pff-26 blockquote {
  font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-26,
.pff-26 input,
.pff-26 select,
.pff-26 textarea,
.pff-27 blockquote {
  font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif;
}
body.pff-27,
.pff-27 input,
.pff-27 select,
.pff-27 textarea,
.pff-28 blockquote {
  font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif;
}
body.pff-28,
.pff-28 input,
.pff-28 select,
.pff-28 textarea,
.pff-29 blockquote {
  font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif;
}
body.pff-29,
.pff-29 input,
.pff-29 select,
.pff-29 textarea,
.pff-30 blockquote {
  font-family: Times, Times New Roman, Serif;
}
body.pff-30,
.pff-30 input,
.pff-30 select,
.pff-30 textarea,
.pff-33 blockquote {
  font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-31,
.pff-31 input,
.pff-31 select,
.pff-31 textarea,
.pff-34 blockquote {
  font-family: 'Lora', Georgia, Times, Times New Roman, Serif;
}
body.pff-32,
.pff-32 input,
.pff-32 select,
.pff-32 textarea,
.pff-35 blockquote {
  font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif;
}
body.pff-33,
.pff-33 input,
.pff-33 select,
.pff-33 textarea,
.pff-37 blockquote {
  font-family: 'Work Sans', Helvetica Neue, Arial, sans-serif;
}
body.pff-34,
.pff-34 input,
.pff-34 select,
.pff-34 textarea,
.pff-38 blockquote {
  font-family: 'Open Sans Condensed', Helvetica Neue, Arial, sans-serif;
}
body.pff-35,
.pff-35 input,
.pff-35 select,
.pff-35 textarea,
.pff-39 blockquote {
  font-family: 'PT Sans Narrow', Helvetica Neue, Arial, sans-serif;
}
body.pff-36,
.pff-36 input,
.pff-36 select,
.pff-36 textarea,
.pff-40 blockquote {
  font-family: 'Archivo Narrow', Helvetica Neue, Arial, sans-serif;
}
body.pff-37,
.pff-37 input,
.pff-37 select,
.pff-37 textarea,
.pff-41 blockquote {
  font-family: 'Ubuntu Condensed', Helvetica Neue, Arial, sans-serif;
}
body.pff-38,
.pff-38 input,
.pff-38 select,
.pff-38 textarea,
.pff-42 blockquote {
  font-family: 'Arimo', Helvetica Neue, Arial, sans-serif;
}

/*Headings, Site name, Site slogan*/
.hff-01 h1,
.hff-01 h2,
.hff-01 h3,
.hff-01 h4,
.hff-01 h5,
.hff-01 h6,
.sff-01 .site-name,
.slff-01 .site-slogan {
  font-family: 'Merriweather', Georgia, Times New Roman, Serif;
}
.hff-02 h1,
.hff-02 h2,
.hff-02 h3,
.hff-02 h4,
.hff-02 h5,
.hff-02 h6,
.sff-02 .site-name,
.slff-02 .site-slogan {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;
}
.hff-03 h1,
.hff-03 h2,
.hff-03 h3,
.hff-03 h4,
.hff-03 h5,
.hff-03 h6,
.sff-03 .site-name,
.slff-03 .site-slogan {
  font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif;
}
.hff-04 h1,
.hff-04 h2,
.hff-04 h3,
.hff-04 h4,
.hff-04 h5,
.hff-04 h6,
.sff-04 .site-name,
.slff-04 .site-slogan {
  font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-05 h1,
.hff-05 h2,
.hff-05 h3,
.hff-05 h4,
.hff-05 h5,
.hff-05 h6,
.sff-05 .site-name,
.slff-05 .site-slogan {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}
.hff-06 h1,
.hff-06 h2,
.hff-06 h3,
.hff-06 h4,
.hff-06 h5,
.hff-06 h6,
.sff-06 .site-name,
.slff-06 .site-slogan {
  font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-07 h1,
.hff-07 h2,
.hff-07 h3,
.hff-07 h4,
.hff-07 h5,
.hff-07 h6,
.sff-07 .site-name,
.slff-07 .site-slogan {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
.hff-08 h1,
.hff-08 h2,
.hff-08 h3,
.hff-08 h4,
.hff-08 h5,
.hff-08 h6,
.sff-08 .site-name,
.slff-08 .site-slogan {
  font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif;
}
.hff-09 h1,
.hff-09 h2,
.hff-09 h3,
.hff-09 h4,
.hff-09 h5,
.hff-09 h6,
.sff-09 .site-name,
.slff-09 .site-slogan {
  font-family: 'Exo', Helvetica Neue, Arial, Sans-serif;
}
.hff-10 h1,
.hff-10 h2,
.hff-10 h3,
.hff-10 h4,
.hff-10 h5,
.hff-10 h6,
.sff-10 .site-name,
.slff-10 .site-slogan {
  font-family: 'Roboto Slab', Trebuchet MS, Sans-serif;
}
.hff-11 h1,
.hff-11 h2,
.hff-11 h3,
.hff-11 h4,
.hff-11 h5,
.hff-11 h6,
.sff-11 .site-name,
.slff-11 .site-slogan {
  font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif;
}
.hff-12 h1,
.hff-12 h2,
.hff-12 h3,
.hff-12 h4,
.hff-12 h5,
.hff-12 h6,
.sff-12 .site-name,
.slff-12 .site-slogan {
  font-family: 'Josefin Sans', Georgia, Times New Roman, Serif;
}
.hff-13 h1,
.hff-13 h2,
.hff-13 h3,
.hff-13 h4,
.hff-13 h5,
.hff-13 h6,
.sff-13 .site-name,
.slff-13 .site-slogan {
  font-family: Georgia, Times New Roman, Serif;
}
.hff-14 h1,
.hff-14 h2,
.hff-14 h3,
.hff-14 h4,
.hff-14 h5,
.hff-14 h6,
.sff-14 .site-name,
.slff-14 .site-slogan {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
.hff-15 h1,
.hff-15 h2,
.hff-15 h3,
.hff-15 h4,
.hff-15 h5,
.hff-15 h6,
.sff-15 .site-name,
.slff-15 .site-slogan {
  font-family: 'Philosopher', Georgia, Times New Roman, Serif;
}
.hff-16 h1,
.hff-16 h2,
.hff-16 h3,
.hff-16 h4,
.hff-16 h5,
.hff-16 h6,
.sff-16 .site-name,
.slff-16 .site-slogan {
  font-family: 'Cinzel', Georgia, Times New Roman, Serif;
}
.hff-17 h1,
.hff-17 h2,
.hff-17 h3,
.hff-17 h4,
.hff-17 h5,
.hff-17 h6,
.sff-17 .site-name,
.slff-17 .site-slogan {
  font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif;
}
.hff-18 h1,
.hff-18 h2,
.hff-18 h3,
.hff-18 h4,
.hff-18 h5,
.hff-18 h6,
.sff-18 .site-name,
.slff-18 .site-slogan {
  font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif;
}
.hff-19 h1,
.hff-19 h2,
.hff-19 h3,
.hff-19 h4,
.hff-19 h5,
.hff-19 h6,
.sff-19 .site-name,
.slff-19 .site-slogan {
  font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif;
}
.hff-20 h1,
.hff-20 h2,
.hff-20 h3,
.hff-20 h4,
.hff-20 h5,
.hff-20 h6,
.sff-20 .site-name,
.slff-20 .site-slogan {
  font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif;
}
.hff-21 h1,
.hff-21 h2,
.hff-21 h3,
.hff-21 h4,
.hff-21 h5,
.hff-21 h6,
.sff-21 .site-name,
.slff-21 .site-slogan {
  font-family: Helvetica Neue, Arial, Sans-serif;
}
.hff-22 h1,
.hff-22 h2,
.hff-22 h3,
.hff-22 h4,
.hff-22 h5,
.hff-22 h6,
.sff-22 .site-name,
.slff-22 .site-slogan {
  font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-23 h1,
.hff-23 h2,
.hff-23 h3,
.hff-23 h4,
.hff-23 h5,
.hff-23 h6,
.sff-23 .site-name,
.slff-23 .site-slogan {
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-24 h1,
.hff-24 h2,
.hff-24 h3,
.hff-24 h4,
.hff-24 h5,
.hff-24 h6,
.sff-24 .site-name,
.slff-24 .site-slogan {
  font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif;
}
.hff-25 h1,
.hff-25 h2,
.hff-25 h3,
.hff-25 h4,
.hff-25 h5,
.hff-25 h6,
.sff-25 .site-name,
.slff-25 .site-slogan {
  font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif;
}
.hff-26 h1,
.hff-26 h2,
.hff-26 h3,
.hff-26 h4,
.hff-26 h5,
.hff-26 h6,
.sff-26 .site-name,
.slff-26 .site-slogan {
  font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-27 h1,
.hff-27 h2,
.hff-27 h3,
.hff-27 h4,
.hff-27 h5,
.hff-27 h6,
.sff-27 .site-name,
.slff-27 .site-slogan {
  font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif;
}
.hff-28 h1,
.hff-28 h2,
.hff-28 h3,
.hff-28 h4,
.hff-28 h5,
.hff-28 h6,
.sff-28 .site-name,
.slff-28 .site-slogan {
  font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif;
}
.hff-29 h1,
.hff-29 h2,
.hff-29 h3,
.hff-29 h4,
.hff-29 h5,
.hff-29 h6,
.sff-29 .site-name,
.slff-29 .site-slogan {
  font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif;
}
.hff-30 h1,
.hff-30 h2,
.hff-30 h3,
.hff-30 h4,
.hff-30 h5,
.hff-30 h6,
.sff-30 .site-name,
.slff-30 .site-slogan {
  font-family: Times, Times New Roman, Serif;
}
.hff-31 h1,
.hff-31 h2,
.hff-31 h3,
.hff-31 h4,
.hff-31 h5,
.hff-31 h6,
.sff-31 .site-name,
.slff-31 .site-slogan {
  font-family: 'Alegreya SC', Georgia, Times, Times New Roman, Serif;
}
.hff-32 h1,
.hff-32 h2,
.hff-32 h3,
.hff-32 h4,
.hff-32 h5,
.hff-32 h6,
.sff-32 .site-name,
.slff-32 .site-slogan {
  font-family: 'Montserrat', Helvetica Neue, Arial, Sans-serif;
}
.hff-33 h1,
.hff-33 h2,
.hff-33 h3,
.hff-33 h4,
.hff-33 h5,
.hff-33 h6,
.sff-33 .site-name,
.slff-33 .site-slogan {
  font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-34 h1,
.hff-34 h2,
.hff-34 h3,
.hff-34 h4,
.hff-34 h5,
.hff-34 h6,
.sff-34 .site-name,
.slff-34 .site-slogan {
  font-family: 'Lora', Georgia, Times, Times New Roman, Serif;
}
.hff-35 h1,
.hff-35 h2,
.hff-35 h3,
.hff-35 h4,
.hff-35 h5,
.hff-35 h6,
.sff-35 .site-name,
.slff-35 .site-slogan {
  font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif;
}
.hff-36 h1,
.hff-36 h2,
.hff-36 h3,
.hff-36 h4,
.hff-36 h5,
.hff-36 h6,
.sff-36 .site-name,
.slff-36 .site-slogan {
  font-family: 'Julius Sans One', Helvetica Neue, Arial, sans-serif;
}
.hff-37 h1,
.hff-37 h2,
.hff-37 h3,
.hff-37 h4,
.hff-37 h5,
.hff-37 h6,
.sff-37 .site-name,
.slff-37 .site-slogan {
  font-family: 'Work Sans', Helvetica Neue, Arial, sans-serif;
}
.hff-38 h1,
.hff-38 h2,
.hff-38 h3,
.hff-38 h4,
.hff-38 h5,
.hff-38 h6,
.sff-38 .site-name,
.slff-38 .site-slogan {
  font-family: 'Open Sans Condensed', Helvetica Neue, Arial, sans-serif;
}
.hff-39 h1,
.hff-39 h2,
.hff-39 h3,
.hff-39 h4,
.hff-39 h5,
.hff-39 h6,
.sff-39 .site-name,
.slff-39 .site-slogan {
  font-family: 'PT Sans Narrow', Helvetica Neue, Arial, sans-serif;
}
.hff-40 h1,
.hff-40 h2,
.hff-40 h3,
.hff-40 h4,
.hff-40 h5,
.hff-40 h6,
.sff-40 .site-name,
.slff-40 .site-slogan {
  font-family: 'Archivo Narrow', Helvetica Neue, Arial, sans-serif;
}
.hff-41 h1,
.hff-41 h2,
.hff-41 h3,
.hff-41 h4,
.hff-41 h5,
.hff-41 h6,
.sff-41 .site-name,
.slff-41 .site-slogan {
  font-family: 'Ubuntu Condensed', Helvetica Neue, Arial, sans-serif;
}
.hff-42 h1,
.hff-42 h2,
.hff-42 h3,
.hff-42 h4,
.hff-42 h5,
.hff-42 h6,
.sff-42 .site-name,
.slff-42 .site-slogan {
  font-family: 'Arimo', Helvetica Neue, Arial, sans-serif;
}
