/**
 * @file
 * Visual styles for Newsplus's taxonomy terms view.
 */
.view-mt-tags-cloud {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 0 40px 0;
}
.view-mt-tags-cloud {
  margin: 0;
}
.view-mt-tags-cloud .view-content {
  margin-bottom: 10px;
}
.view-mt-tags-cloud .views-row {
  display: inline-block;
}
.view-mt-tags-cloud .views-row a {
  color: #ffffff;
  padding: 5px 6px;
  line-height: 1;
  background-color: #7d7d7d;
  display: inline-block;
  margin: 1px 0 2px 0;
  text-transform: uppercase;
  font-size: 11px;
}
.view-mt-tags-cloud .views-row a:hover {
  text-decoration: none;
  color: #ffffff;
}
